server {
	listen 80;

	server_name domain.tld;

        set $upstream "webcluster";
        include conf.d/inc/upstream.conf;

	include conf.d/inc/gzip.conf;

	include conf.d/inc/errorpages.conf;

        location / {
             try_files $uri @upstream;
        }
}
